[Unit]
Description=Arvados Keepstore server
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/default/keepstore
ExecStart=/usr/bin/keepstore -enforce-permissions=true -blob-signing-key-file=${BLOB_KEY} -max-buffers=${MAX_BUFFERS} -serialize=true -volume=${VOLUME}
IgnoreSIGPIPE=yes

[Install]
WantedBy=multi-user.target
